@import 'variables';
@import 'mixins';
@import 'extendsStart';
@import 'extendsEnd';

.account_section {
	.account_line {
		margin-top: 45px;
		display: flex;
		width: 100%;

		nav {
			width: 250px;
			min-height: 415px;
			border-right: 1px solid #D3BA87;
			height: fit-content;
			padding-right: 10px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			height: 100%;
			display: flex;
			flex-direction: column;

			li {
				width: 100%;
				margin-bottom: 30px;

				&.log_out {
					flex: 1;
					margin-top: 110px;
					display: flex;
					align-items: flex-end;
					margin-bottom: 0;

					a {
						color: #B63E2C;

						svg path {
							fill: #B63E2C;
						}
					}
				}
			}

			a {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 16px;
				line-height: 20px;
				color: #949494;
				align-items: center;

				svg path {
					fill: #949494;
					width: 22px;
				}

				&.active-link {
					pointer-events: none;
					color: $black;

					svg path {
						fill: $black;
						color: $black;
					}
				}
			}
		}
	}

	.inner_wrapper {
		padding-left: 40px;
	}
}


.noty_wrapper {
	max-height: 400px;
	overflow-y: auto;
}

.noty_line {
	color: #949494;
	margin-top: 30px;
	font-size: 16px;
}

@media (max-width: 768px) {

	.account_section .account_line {
		margin-top: 20px;
		flex-direction: column;

	}

	.card_wrapper .product_block .info_block {
		flex: 1;
		max-width: none;
	}

	.account_section .account_line nav {
		width: 100%;
		min-height: auto;
		border: none;
	}

	.card_wrapper .product_block .info_block {
		margin-left: 10px;
	}

	.account_section .account_line ul li.log_out {
		margin-top: 5px;
	}

	.account_section .inner_wrapper {
		padding-left: 0 !important;
		margin-top: 41px;
		padding-right: 0;
	}

	.account_section .account_line ul li {
		width: 100%;
		margin-bottom: 10px;
		border-bottom: 1px solid #0b1b2042;
		padding-bottom: 10px;
	}

	.card_wrapper .product_block .product_name {
		font-size: 80%;
	}

	.card_wrapper .product_block .product_code {
		margin-top: 5px;
		align-items: center;
		gap: 5px;
		font-size: 12px;
	}

	.card_wrapper {
		.image_block.relative {
			width: 43%;
		}
	}

	.card_wrapper .product_block .active_price {
		white-space: nowrap;
		font-size: 85%;
	}


	.delivery-method {
		margin-top: 30px;

		.radio-group {
			display: flex;
			gap: 19px;
			flex-direction: column;
		}
		.custom-radio {
			justify-content: space-between;
			img{
				width: 100%;
        max-width: 240px;
			}
		}
	}

}